@import "../../node_modules/material-colors/dist/colors.sass";

$primary-color: $md-blue-grey-800;
$primary-color-dark: $md-blue-grey-900;
$primary-color-text: rgba(255, 255, 255, 1);
$primary-color-text--secondary: rgba(255, 255, 255, 0.7);
$accent-color: $md-yellow-500;
$accent-color-dark: $md-yellow-600;
$accent-color-text: rgba(0, 0, 0, 0.87);
$background-color: $md-grey-50;
$background-color-dark: $md-grey-100;
$background-color-text: $accent-color-text;

$spacing: 3rem;
$small-spacing: 1.5rem;

$primary: $accent-color;
$pink: #ffb3b3;
$family-serif: 'Roboto Slab', serif;
$family-primary: $family-serif;

@import "../../node_modules/bulma/bulma";
@import "../../node_modules/mdi/scss/materialdesignicons";

html {
  opacity: 0;
  transition: opacity 400ms;
}

#title-container {
  color: white;
  width: 100%;
}

#expandable-circle {
  position: fixed;
  left: ($spacing + 3rem);
  top: ($spacing + 3rem);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: $accent-color;
  transition: 800ms;
  transform: scale(1);
  z-index: 99;
}

#expandable-circle.expanded {
  transform: scale(1000);
  backface-visibility: hidden;
}

#me {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  vertical-align: middle;
  display: inline-block;
  z-index: 100;
  position: relative;
}

#name {
  margin-left: 1.5rem;
  display: inline-block;
  vertical-align: middle;
  z-index: 100;
  position: relative;
  color: $primary-color-text;
  transition: color 400ms;
}

.top-of-ripple {
  z-index: 101;
  position: relative;
}

#name.expanded {
  color: $accent-color-text;
}

#name span {
  display: block;
  font-size: 2.7rem;
  line-height: 1em;
}

#name #surname {
  font-weight: bold;
}

#intro-text {
  font-weight: 400;
  font-size: 1.15rem;
}

#languages {
  text-align: center;
  padding: $small-spacing $spacing;
  font-weight: 700;
  transition: color 400ms, opacity 200ms;
}

#languages > span {
  padding: 0.5rem;
  opacity: 0.7;
}

.divider {
  height: 1px;
  background: $accent-color;
  margin: $small-spacing 0;
}

.divider-short {
  width: 60px;
  margin-top: 1rem;
}

.primary-bg {
  background: $primary-color;
}

.primary-dark-bg {
  background: $primary-color-dark;;
}

.accent-bg {
  background: $accent-color;
}

.accent-dark-bg {
  background: $accent-color-dark;
}

.background-bg {
  background: $background-color;
}

.background-bg-dark {
  background: $background-color-dark;
}

.accent-txt {
  color: $accent-color;
}

.txt-on-accent {
  color: $accent-color-text !important;
}

.txt-on-primary {
  color: $primary-color-text
}

.txt-on-primary--secondary {
  color: $primary-color-text--secondary;
}

.language-active {
  opacity: 1 !important;
}

.padded {
  padding: $spacing;
}

.small-vertical-padded {
  padding: $small-spacing $spacing;
}

.spaced {
  margin-bottom: $spacing;
}

.spaced:last-child {
  margin-bottom: 0;
}

.relative {
  position: relative;
}

.bold {
  font-weight: 700;
}

.bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.full-height {
  height: 100vh;
  max-height: 100vh;
}

@media screen and (max-width: 768px) {
  .full-height {
    height: auto;
    max-height: none;
  }

  .not-bottom-mobile {
    position: relative;
  }
}

.mb0 {
  margin-bottom: 0;
}

.navigation-item {
  color: $primary-color-text;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.3em;
  padding: 0.1em 1em;
  margin: 0.25em 0;
  opacity: 0.7;
}

.navigation-item.active, .navigation-item:hover {
  opacity: 1;
  border-left: solid $accent-color 1px;
}

.scroll {
  overflow-y: auto;
}

.pointer {
  cursor: pointer;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 300;
  font-size: 1.4rem;
  color: $background-color-text;
  margin-top: -5px;
}

.button-download {
  margin: 50px auto;
}

.columns.is-gapless:not(:last-child) {
    margin-bottom: 0;
}