* 
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body
{
    font-family: 'Roboto', sans-serif;
    overflow-x:hidden;
    background: white;    
}

#top_menu_background {
    background: url(../images/texture.png) repeat;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: -30;
    height: 200px;
}

#top_menu {
    position: fixed;
    z-index: -10;
    top: 0;
    color: black;
    padding: 20;
    text-align: center;
    width: 100%;
    margin: auto;
    color: white;
}

#top_menu span {
    padding: 50;
    padding-bottom: 16;
    text-transform: uppercase;
    font-weight: 300;   
    cursor: pointer;
    letter-spacing: 5px;
    transition: 0.3s;
}

#top_menu a {
    color: white;
}

#close_top_menu {
    float: left;
    cursor: pointer;    
    height: 20;
}

#top_menu span:hover {
    letter-spacing: 7px;
    background: rgba(255,255,255,0.1);
}

a
{
    text-decoration: none;
}

#cover
{
    height: 1080px;
    height: 100vh;
     width: 100%;
    position: fixed;
    z-index: 0;
}

#pres_content {
    position: fixed;
    perspective: 1000px;
    width: 100%;
    height: 100vh;
    /*background: url(../images/cover2.jpg);
    -webkit-background-size: cover;
    background-size: cover;*/
}

#sub_icon_pres {
    color: white;
    position: relative;
    width: 100%;
    z-index: 9;
    transform-style: preserve-3d;
}

#front, #back {
    width: 100%;
    height: 50vh;
    z-index: 9;
    backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

#front {
	z-index: 5;
	-webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    background: rgb(30,30,30);  
    
    background: url(../images/texture.png) repeat;
}

#back {
	-webkit-transform: rotateY(180deg) rotateZ(180deg);
    transform: rotateY(180deg) rotateZ(180deg);
    background: white;
    padding: 50;
    z-index: 4;
}

#homemess {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

#page_shadow_1, #page_shadow_2, #page_shadow3 {
    background: black;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
}

#page_shadow_1 { 
}

#page_shadow3 {
    transition: 0.5s;
}

#filter {
    background: black;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.1;
}

#scroll_invite {
    text-align: center;
    font-size: 35;
    font-weight: 100;
    letter-spacing: 10px;
    text-transform: uppercase;
    margin-top:10;
}

#avatar
{
    display: block;
    margin: 0 auto;
    position: relative;
    z-index: 3;
    width: 30%;
    left: 50%;
   margin-left: -15%;
    position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#content {
    background: white;
    top: 150vh;
    position: relative;
    z-index: 1;
    padding: 50;
    padding-top: 1;
}

#me {
    width: 17%;
    display: inline-block;
    margin-right: 5%;
    vertical-align: middle;
    border-radius: 50%;
    margin-top: 40;
}

#arrow_up {
    position: fixed;
    width: 30;
    right: 50;
    top: -50;
    transition: 0.5s;
    cursor: pointer;
}

.slog
{
    text-align: center;
    font-size: 55px;
    font-weight: 200;
}

#s_first
{
    font-size: 100px;   
}

#icon_pres {
    height: 50vh;
    z-index: 8;
    background: rgb(30,30,30);
    background: url(../images/texture.png) repeat;
    transform-origin: bottom;
    transition: transform 0.5s;
}


.sep
{
    width: 50;
    display: block;
    margin: 50 auto;
    position: relative;
    margin-top: 60;
}

.pres
{
    font-size: 23px;
    padding-top: 50px;
    font-weight: 300;
    text-align: justify;
}

#voice
{
    display: inline-block;
    width: 74%;
    vertical-align: middle;
    color: black;
}

.clear
{
    clear: both;
}

.langages
{
    font-size: 25px;
    position: relative
    text-align: center;
    margin: 0 auto;
    list-style-type: circle;
    margin-top: 10;
    font-weight: 300;
}

#skills
{
    list-style-type: none;
    width: 100%;
    margin-top: 30;
    margin-bottom: 80;
}

#skills > li
{
    float:left;
    width: 33.3%;
    text-align: center;
}

#skills li ul
{
    list-style-type: none;
    font-size: 20px; 
    color: #313131;    
}

#skills li ul li
{
    margin-top: 5;
    margin-bottom: 5;
}



.elevation-2
{
    -webkit-box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0 rgba(0, 0, 0, 0.2);
}

.elevation-2-top
{
    box-shadow: 0 -15px 15px -5px  rgba(0, 0, 0, 0.39);
}

.elevation-1
{
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
}

#projects_container
{
    margin: auto;
    text-align: center;
    display: block;
    margin-top: 20;
}

#avatar_mini
{
    width: 40px;
    border-radius: 50%;
    position: fixed;
    top: -55;
    z-index: 15;
    cursor: pointer;
    left: 45;
    transition: 0.5s;
}

#social_container
{
    margin: auto;
    text-align: center;
    display: block;
    margin-top: 20;
}

.icon_rounder
{
    width: 50;
    height: 50;
    display: inline-block;
    position: relative;
    margin: 10;
    background: #313131;
    border-radius: 50%;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    transition: box-shadow 0.3s;
}

.icon_rounder:hover{
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0 rgba(0, 0, 0, 0.2);
}


.icon_rounder img
{
    width: 30;
    position: relative;
    top:10;
}

#ic_fb
{
    background: #3f51b5;    
}

#ic_gh
{
    background: #313131;    
}

#ic_gp
{
    background: #d32f2f;
}

#ic_m
{
    background: #00bfa5;
}

.project
{
    display: inline-block;
    width: 300;
    height: 400;
    margin: 20;
    position: relative;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    transition: box-shadow 0.3s;
}

.project:hover{
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0 rgba(0, 0, 0, 0.2);
}
.card_legend
{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: left;
    padding: 20;
    height: 100;
    color: white;
    z-index: 10;
}

#p1 .card_legend
{
    background: #E91E63;
}

#p2 .card_legend
{
    background: #009688;
}

#p3 .card_legend
{
    background: #03A9F4;
}

.project_img
{
    height: 300;
    box-shadow: inset 0 -7px 9px -7px rgba(0,0,0,0.4);
}

#p1 .project_img
{
     background: url(../images/papyros-calculator.png);
    -webkit-background-size: cover;
    background-size: cover;    
}

#p2 .project_img
{
     background: url(../images/diffusio.png);
    -webkit-background-size: cover;
    background-size: cover;    
}

#p3 .project_img
{
     background: url(../images/material-browser.png);
    -webkit-background-size: cover;
    background-size: cover;    
}

.project_header
{
    font-size: 20;
    font-weight: 500;   
}

.project_legend
{
    font-size: 15;
    margin-top: 10;
    font-weight: 400;
    
}

#more_languages
{
    position: absolute;
    z-index: 1;
    right: 12;
    top: 12;
    width: 30;
    position: fixed;
    transition: 0.5s;
    cursor: pointer;
}


#dropdown_languages
{
    background: white;
    border-radius: 2px;
    position: fixed;
    margin: 0;
    padding: 5 0;
    right: 5;
    top: 5;
    max-height: 0px;
    max-width: 0px;
    list-style-type: none;
    opacity: 0;
    z-index: 5;
    transition: max-height 0.6s,max-width 0.6s;
}


#dropdown_languages li
{
    padding-left: 10;
    padding-top: 10;
    padding-bottom: 10;
    padding-right: 10;
    color:#313131;
    font-size: 17px;
    cursor: pointer;
    transition: opacity 0.01s 0.5s;
    font-size: 0px;
}

#dropdown_languages li:hover
{
    background: #DCDCDC;
}

.paper-shadow-top-z-1 {
  box-shadow: none;
}

.paper-shadow-bottom-z-1 {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
}

.paper-shadow-top-z-2 {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.paper-shadow-bottom-z-2 {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
}

.paper-shadow-top-z-3 {
  box-shadow: 0 11px 7px 0 rgba(0, 0, 0, 0.19);
}

.paper-shadow-bottom-z-3 {
  box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.3);
}

.paper-shadow-top-z-4 {
  box-shadow: 0 14px 12px 0 rgba(0, 0, 0, 0.17);
}

.paper-shadow-bottom-z-4 {
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.3);
}

.paper-shadow-top-z-5 {
  box-shadow: 0 17px 17px 0 rgba(0, 0, 0, 0.15);
}

.paper-shadow-bottom-z-5 {
  box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3);
}


#hamburger {
    position: absolute;
    top: 12;
    left: 12;
    cursor: pointer;
    transition: 0.5s;
    width: 30;
    z-index: 2;
}

#side_menu
{
    background: white;
    width: 250;
    height: 100vh;
    z-index: 30;
    left: -260;
    position: fixed;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: transform 0.5s;
}

#me_icon
{
    width: 120;
    left: 50%;
    position: relative;
    margin-left: -60;
}

#menu
{
    list-style-type: none;
}

#menu  li
{
    padding: 15 20;
    font-weight: 500;
    cursor: pointer;
    font-size: 21;
    color: rgb(60,60,60);
    transition: 0.2s;
}

#menu li:hover
{
    background: rgba(0,0,0,0.05);   
}

#sub_projects
{
    list-style-type: none;
}

#sub_projects li
{
    font-size: 19;
    color: rgb(70,70,70);
    font-weight: 400;
}


#me_credits
{
    position: absolute;
    bottom: 5;
    text-align: center;
    width: 100%;
    color: lightslategrey;
}

#shadow_drawer {
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index:-9;
    opacity: 0;
    background: rgba(0,0,0,0.3);
}

#next_navbar {
    background: rgb(50,50,50);
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 20;
}

#next_navbar2 {
    background: rgb(50,50,50);
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    display: none;
    z-index: 20;
}

#hamburger2 {
    width: 32;
    margin: 10;
    cursor: pointer;
}

#more_languages2
{
    right: 12;
    top: 12;
    width: 30;
    cursor: pointer;
}

#icon2 {
    width: 50;   
}

#title2 {
    color: white;
    font-size: 20px;
}

.navitem {
    display: inline;
    margin-right: 10;
    vertical-align: middle;
}

.navitemright {
    float: right;
}

@media screen and (min-width:1700px)
{
    #avatar {
        width:25%;
    }
    
    #s_first {
        font-size: 150px;
    }
    
    #scroll_invite {
        font-size: 40px;   
    }
}

@media screen and (max-width:800px)
{
    #cover
    {
        height: 100vh;
    }
    
    #avatar_mini, #arrow_up
    {
        display: none;
    }
    
    .skill
    {
        width: 170;  
    }
    
    #skills li ul
    {
        font-size: 19px; 
    }
        #front, #back {
        width: 100%;
        height: 50vh;
        backface-visibility: hidden;
        position: relative;
    }

    #pres_content {
        position: relative;
        height: auto;
    }
    
    #content {
        top:0;   
    }
    
    #front {
        z-index: 5;
        transform: none;
        background: rgb(30,30,30);  
        position: relative;
    }
    
    #hamburger, #more_languages {
        position: absolute;
    }

    #back {
        transform: none;
        background: white;
        padding: 50;
        position: relative;
        height: auto;
        z-index: 4;
    }
    
    .project
{
    display: inline-block;
    width: 300;
    height: 400;
    margin: 0;
    margin-top: 20;
    position: relative;
    
}
    
    #skills > li
    {
        float:none;
        width: 100%;
        text-align: center;
        margin-top: 20;
        margin-bottom: 20;
    }
    
    #avatar
    {
        width: 200px;
        margin-left: -100;
    }

    #content
    {
        top: 0;
        width: 100%;
        margin-bottom: 0;
        padding: 30;
        margin-left: 0;
    }
    
    #s_first
    {
        font-size: 50;   
    }
    
    #me 
    {
        display: block;
        margin: auto;
        width: 100%;
        margin-top: 40;
    }   
    

    .slog
    {
        font-size: 38px;    
    }
    
    .pres
    {
        font-size: 20px;   
    }
    
    #voice
    {
        width: 100%;   
    }
    
    body
    {
    overflow-x: hidden;   
    }

}

@media screen and (min-width:0\0) {
    #front, #back {
        width: 100%;
        height: 50vh;
        backface-visibility: hidden;
        position: relative;
    }

    #pres_content {
        position: relative;
        height: auto;
    }
    
    #content {
        top:0;   
    }
    
    #hamburger, #more_languages {
        position: absolute;
    }

    
    #front {
        z-index: 5;
        transform: none;
        background: rgb(30,30,30);  
        position: relative;
    }

    #back {
        transform: none;
        background: white;
        padding: 50;
        position: relative;
        z-index: 4;
    }

}