* 
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body
{
    font-family: 'Roboto', sans-serif;
    overflow-x:hidden;
}

#cover
{
    height: 300px;
    background: url(../images/cover1.jpg);
    -webkit-background-size: cover;
    background-size: cover; 
    width: 100%;
    position: fixed;
    z-index: 0;
}

#avatar
{
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    position: fixed;
    z-index: 10;
    width: 200px;
    top: 50;
    left: 50%;
   margin-left: -100;
}

#content
{
    background: white;
    top: 300;
    position: relative;
    z-index: 35;
    padding: 50;
}

.slog
{
    text-align: center;
    font-size: 55px;
    font-weight: 200;
}

.sep
{
    width: 50;
    display: block;
    margin: 50 auto;
    position: relative;
    margin-top: 60;
}

#pres
{
    font-size: 25px;
    padding-top: 30px;
    font-weight: 300;
    text-align: justify;
}

.clear
{
    clear: both;
}

.langages
{
    font-size: 25px;
    position: relative
    text-align: center;
    margin: 0 auto;
    list-style-type: circle;
    margin-top: 10;
    font-weight: 300;
}

#skills
{
    list-style-type: none;
    width: 100%;
    margin-top: 30;
    margin-bottom: 80;
}

#skills > li
{
    float:left;
    width: 33.3%;
    text-align: center;
}

#skills li ul
{
    list-style-type: none;
    font-size: 20px; 
    color: #313131;    
}

#skills li ul li
{
    margin-top: 5;
    margin-bottom: 5;
}



.elevation-2
{
    -webkit-box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0 rgba(0, 0, 0, 0.2);
}

.elevation-2-top
{
    box-shadow: 0 -15px 15px -5px  rgba(0, 0, 0, 0.39);
}

.elevation-1
{
           box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);

}

#projects_container
{
    margin: auto;
    text-align: center;
    display: block;
    margin-top: 20;
}

#social_container
{
    margin: auto;
    text-align: center;
    display: block;
    margin-top: 20;
}

.icon_rounder
{
    width: 50;
    height: 50;
    display: inline-block;
    position: relative;
    margin: 10;
    background: #313131;
    border-radius: 50%;
}

.icon_rounder img
{
    width: 30;
    position: relative;
    top:10;
}

#ic_fb
{
    background: #3f51b5;    
}

#ic_gh
{
    background: #313131;    
}

#ic_gp
{
    background: #d32f2f;
}

#ic_m
{
    background: #00bfa5;
}

.project
{
    display: inline-block;
    width: 300;
    height: 400;
    margin: 20;
    position: relative;
    
}

.card_legend
{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: left;
    padding: 20;
    height: 100;
    color: white;
z-index: 10;
}

#p1 .card_legend
{
    background: #009688
}

#p2 .card_legend
{
    background: #E91E63
}

.project_img
{
    height: 300;
    box-shadow: inset 0 -7px 9px -7px rgba(0,0,0,0.4);
}

#p1 .project_img
{
     background: url(../images/papyros-calculator.png);
    -webkit-background-size: cover;
    background-size: cover;    
}

#p2 .project_img
{
     background: url(../images/diffusio.png);
    -webkit-background-size: cover;
    background-size: cover;    
}

.project_header
{
    font-size: 20;
    font-weight: 500;   
}

.project_legend
{
    font-size: 15;
    margin-top: 10;
    font-weight: 400;
    
}

#more_languages
{
    position: fixed;
    z-index: 1;
    right: 5;
    top: 5;
    width: 30;
    position: fixed;
    cursor: pointer;
}


#dropdown_languages
{
    background: white;
    border-radius: 2px;
    position: fixed;
    margin: 0;
    padding: 5 0;
    right: 5;
    top: 5;
    max-height: 0px;
    max-width: 0px;
    list-style-type: none;
    opacity: 0;
    z-index: 5;
    transition: max-height 0.6s,max-width 0.6s;
}


#dropdown_languages li
{
    padding-left: 10;
    padding-top: 10;
    padding-bottom: 10;
    padding-right: 10;
    color:#313131;
    font-size: 17px;
    cursor: pointer;
    transition: opacity 0.01s 0.5s;
    font-size: 0px;
}

#dropdown_languages li:hover
{
    background: #DCDCDC;
}

.paper-shadow-top-z-1 {
  box-shadow: none;
}

.paper-shadow-bottom-z-1 {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
}

.paper-shadow-top-z-2 {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.paper-shadow-bottom-z-2 {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
}

.paper-shadow-top-z-3 {
  box-shadow: 0 11px 7px 0 rgba(0, 0, 0, 0.19);
}

.paper-shadow-bottom-z-3 {
  box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.3);
}

.paper-shadow-top-z-4 {
  box-shadow: 0 14px 12px 0 rgba(0, 0, 0, 0.17);
}

.paper-shadow-bottom-z-4 {
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.3);
}

.paper-shadow-top-z-5 {
  box-shadow: 0 17px 17px 0 rgba(0, 0, 0, 0.15);
}

.paper-shadow-bottom-z-5 {
  box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3);
}

#menu_img
{
    position: fixed;
    top: 5;
    left: 5;
    z-index: 10;
    width: 30;
}

#menu
{
    background: white;
    width: 0;
    height: 0;
    z-index: 11;
    border-radius: 0px 2px 2px 2px;
    transition: width 0.3s, height 0.6s;
    position: fixed;
    padding: 0;
}

#sub_menus
{
    margin: 0;
    padding: 0;
    padding-top: 5;
    list-style-type: none;
}


.sub_menu
{
    opacity: 0;
    width: 100%;
    padding: 10 30;
    padding-left: 50;
    font-weight: 200;
    font-size: 25px;
    z-index: -10;
    cursor: pointer;
}

.sub_menu:hover
{
       background: rgba(0,0,0,0.08);
}

#menu_header
{
    font-size: 20;
    font-weight: 400;
    color: rgb(60,60,60);
    padding:  0 50;
    padding-bottom: 10;
}

#menu_header:hover
{
    background: transparent;   
}

.material-icon {
  width: 25px;
  height: 45px;
  position: fixed;
  top: 5;
  cursor: pointer;
  z-index: 20;
  left: 5;
}
 
.material-icon span,
.material-icon {
  transition: all 500ms ease;
}

#arrow span {
  background-color: #fff;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  transition:  0.7s;
  width: 100%;
}

.hamburger 
{
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
    
}



.hamburger span {
  height: 3px;
    transition: 0.5s;
}
 
.hamburger .second {
  -webkit-transform: translateY(7px);
    transform: translateY(7px);
    transition: background 0.7s;
}
 
.hamburger .third{
  -webkit-transform: translateY(15px);
    transform: translateY(15x);
    transition:  0.7s;
}
/* This part is added to the hamburger css so they have the same height and positioning. */
.hamburger span {
  height: 3px;
  transition: transform 0.5s;
}
 
.arrow .first
{
       transform: translateY(7px) rotate(45deg);
    transition:  0.7s;
}

.arrow .second
{
    opacity: 0;  
    transform: translateY(7px) rotate(45deg);
}

.arrow .third
{
       transform: translateY(7px) rotate(-45deg);
}

/* This part is added to the hamburger css so they have the same height and positioning. */



@media screen and (min-width:1700px)
{
    #more_languages
    {
        width: 25;
    }
    
    #do
    
    #avatar
    {
        width: 250px;
        left: 50%;
       margin-left: -125;
    }
    #content
    {
        background: white;
        top: 350;
        position: relative;
        z-index: 15;
        padding: 50;
    }
    #cover
    {
        height: 350;   
    }
}

@media screen and (max-width:700px)
{
    #cover
    {
        height: 200px;
    }
    
    .skill
    {
        width: 140;  
    }
    
    #skills li ul
    {
        font-size: 19px; 
    }
    
    .project
{
    display: inline-block;
    width: 300;
    height: 400;
    margin: 0;
    margin-top: 20;
    position: relative;
    
}
    
    #skills > li
    {
        float:none;
        width: 100%;
        text-align: center;
        margin-top: 20;
        margin-bottom: 20;
    }
    
    #avatar
    {
        width: 140px;
        top: 30;
        margin-left: -70;
    }

    #content
    {
        top: 200;
        padding: 30;
    }

    .slog
    {
        font-size: 38px;    
    }
    
    #pres
    {
        font-size: 18px;   
    }
    body
    {
    overflow-x: hidden;   
    }
}