$primary-color: #38474F;
$primary-dark-color: #263238;
$primary-tint-color: lighten($primary-color, 10%);

$accent-color: #FFEB3B;

$primary-black-opacity: 0.87;
$secondary-black-opacity: 0.54;
$disabled-black-opacity: 0.38;

$primary-white-opacity: 1.00;
$secondary-white-opacity: 0.70;