@import 'basscss';
@import 'colors';
html {
  font-family: 'Roboto Slab', serif;
}

body {
  padding: 2rem;
}

a {
  color: inherit;
  text-decoration: inherit;
}

#about {
  width: 20rem;
  font-family: 'Roboto Slab', serif;
  top: -5rem;
  text-transform: none;
  left: calc(100% + 1rem);
  border-radius: 20px 20px 20px 0;
  opacity: 0;
  transition: opacity 400ms;
}

#about a {
  color: $primary-color;
}

#bottom-links span {
  transition: color 400ms;
}

#bottom-links span:hover {
  color: $accent-color;
}

#about-li:hover #about {
  opacity: 1;
}

.no-decoration {
  text-decoration: none;
}

.no-transform {
  text-transform: none;
}

.uppercase {
  text-transform: uppercase;
}

.mono {
  font-family: 'Roboto Mono', monospace;
}

.bg-primary {
  background: $primary-color;
}

.bg-primary-tint {
  background: $primary-tint-color;
}

.bg-primary-dark {
  background: $primary-dark-color;
}

.bg-accent {
  background: $accent-color;
}

.bg-liri {
  background: #F44336;
}

.bg-2pc {
  background: #363636;
}

.bg-light {
  background: #FAFAFA;
}

.bg-white-transparent {
  background: rgba(255, 255, 255, $secondary-white-opacity);
}

.pointer {
  cursor: pointer;
}

.bg-grey-1 {
  background: #FAFAFA;
}

.bg-grey-2 {
  background: #F5F5F5;
}

.bg-grey-3 {
  background: #EEEEEE;
}

.bg-dark-grey {
  background: #212121;
}

.bg-cyan {
  background: #00BCD4;
}

.white {
  color: white;
}

.secondary-white {
  color: rgba(255, 255, 255, 0.7);
}

.black {
  color: rgba(0, 0, 0, $primary-black-opacity);
}

.secondary-black {
  color: rgba(0, 0, 0, $secondary-black-opacity);
}

.full-height {
  height: 100%;
}

.mt0d6 {
  margin-top: 0.6rem;
}

.light {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}

.full-width {
  width: 100%;
}

.cube {
  min-height: 15rem;
}

amp-img.cover img {
  object-fit: cover;
}

.paper-round-top-left {
  border-top-left-radius: 1rem;
}

.paper-round-top-right {
  border-top-right-radius: 1rem;
}

.paper-round-bottom-left {
  border-bottom-left-radius: 1rem;
}

.paper-round-bottom-right {
  border-bottom-right-radius: 1rem;
}

#me {
  width: 3rem;
  height: 3rem;
  border-radius: 1.5rem;
}

#graphical {}

.separator {
  height: 0.5rem;
}

.small-cube {
  box-sizing: border-box;
  height: 11rem;
}

.left-side {
  box-sizing: border-box;
  width: 15rem;
  min-width: 15rem;
}

.shadow {
  box-shadow: 0px 0.1rem 0.1rem 0px rgba(0, 0, 0, 0.2);
}

#languages li:not(.lang-disabled) {
  cursor: pointer;
}

#languages li .lang-dot {
  opacity: 0;
  transition: opacity 500ms;
}

#languages li:hover:not(.lang-disabled) .lang-dot,
#languages li.active:not(.lang-disabled) .lang-dot {
  opacity: 0;
}

#languages li .lang-name {
  transition: opacity 500ms;
}

#languages li.lang-disabled .lang-name {
  opacity: $disabled-black-opacity;
}

#languages li:hover .lang-name,
#languages li.active .lang-name {
  opacity: 1;
  color: $accent-color;
}

.language-popup {
  top: 0rem;
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  box-sizing: border-box;
  right: 5rem;
  opacity: 0;
  white-space: nowrap;
  transition: opacity 400ms;
  display: none;
}

.language-popup.top-language {
  top: -0.5rem;
}

#languages li:hover .language-popup {
  opacity: 1;
  display: block;
}

.i-do {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 0;
  padding: 0.5rem 1.5rem;
  float: right;
  display: inline-block;
  font-family: 'Roboto Mono', monospace;
}

#i-race {
  /* background: url('/assets/i-race.jpg'); */
  /* background-size: cover; */
  height: 50rem;
}

#i-write {
  /* background: url('/assets/i-write.jpg'); */
  /* background-size: cover; */
}

.h2m {
  font-size: 1.6rem;
}

.double-line {
  line-height: 3rem;
}

.wd1 {
  width: 1rem;
}

.hg1 {
  height: 1rem;
}

.wd1m {
  width: 0.5rem;
}

.w20 {
  width: 20rem;
}

.w21 {
  width: 21em;
}

.w22 {
  width: 22rem;
}

.hg1m {
  height: 0.5rem;
}

.wd3 {
  width: 3rem;
}

.hg3 {
  height: 3rem;
}

.pt0d1 {
  padding-top: 0.1rem;
}

.mt0d5 {
  margin-top: 0.5rem;
}

.mt0d25 {
  margin-top: 0.25rem;
}

.fs0d8 {
  font-size: 0.8rem;
}

#social svg path {
  fill: white;
  transition: fill 500ms;
}

#social svg:hover path {
  fill: $accent-color;
}

#utbm {
  border-radius: calc(82px + 2 * 3rem);
  border-top-right-radius: 0;
}

.abroad {
  border-radius: calc(74px / 2);
  border-top-left-radius: 0;
}

.top-rounded {
  border-radius: 3px 3px 0 0;
}

.left-rounded {
  border-radius: 3px 0 0 3px;
}

.max-width-hd {
  max-width: 1366px;
  margin: auto;
}

.button {
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
  /* padding: 0.5rem; */
  /* border-radius: 20px; */
  /* border: solid rgba(0, 0, 0, $primary-black-opacity) 1px; */
  padding: 0.5rem 0;
}

.card-title {
  font-size: 1.2rem;
  color: rgba(0, 0, 0, $primary-black-opacity);
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.card-title.white {
  color: white;
}

.pres {
  box-sizing: border-box;
}

.card-title-underline {
  width: 3rem;
  height: 0.1rem;
  background: $accent-color;
}

#bird {
  display: block;
  width: 8rem;
  margin: 0 auto;
}

#tdb-illustration {
  display: block;
  width: 8rem;
  margin: 0 auto;
}

.link-button {
  font-family: 'Roboto Mono';
  font-weight: 700;
  text-decoration: none;
  color: inherit;
  // text-transform: uppercase;
  // border-bottom: solid 2px white;
  // padding-bottom: 0.6rem;
}

.link-button.white {
  color: white;
}

.dev-logo {
  height: 12rem;
}

.dev-pres {
  display: block;
  width: 200px;
}

.disabled {
  opacity: 0.38;
}

.story-img {
  width: 220px;
  height: 150px;
  /* background-size: cover; */
}

#vtt-conliege {
  border-radius: calc(3rem + 15rem * 114/490);
  margin-top: 16rem;
}

.big-hide {
  display: none;
}

.zi-2 {
  z-index: 2
}

.f1d7 {
  font-size: 1.7rem;
}

#small-languages-wrap {
  display: none;
}

.lg-ml4 {
  margin-left: 4rem;
}

.lightbox {
  background: rgba(0,0,0,0.8);
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: auto;
}

.lightbox amp-img {
}

.lightbox .actions {
  margin: 0.5rem auto;
}

.lightbox h1 {
  color: white;
}

@media (max-width: 1260px) {
  body {
    padding: 0.5rem;
  }
  .left-side {
    padding-left: 0.5rem;
    padding-right: 1rem;
  }

  .left-side .lg-hide {
    display: block;
  }

  #languages-wrap {
    padding-right: 0.5rem;
  }
  #i-write .button.ml4 {
    margin-left: 0;
    margin-top: 0;
  }
  .big-hide {
    display: block;
  }
  
  .lg-ml4 {
    margin-left: 0;
  }
}

@media (max-width: 62em) {
  body {
    padding: 0;
  }
  #languages-wrap {
    display: none;
  }

  #social {
    margin-top: 0;
  }

  #i-code-small-title {
    margin-top: 2rem;
  }

  #i-race {
    box-shadow: none;
  }
  .md-mt1 {
    margin-top: 1rem;
  }
  .md-mt2 {
    margin-top: 2rem;
  }

  .md-mb2 {
    margin-bottom: 2rem;
  }
  .md-pb2 {
    padding-bottom: 2rem;
  }
  .paper-round-top-left,
  .paper-round-bottom-left,
  .paper-round-top-rigth,
  .paper-round-bottom-right {
    border-radius: 0;
  }
  .left-side,
  #languages {
    display: none;
  }
  #about {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: auto;
    width: auto;
    border-radius: 0;
  }
  #utbm-logo {
    left: 0;
    right: auto;
  }
  #utbm {
    border-radius: calc(82px + 2 * 3rem);
    border-top-left-radius: 0;
    margin-right: 0;
  }
  #i-race-cards {
    margin: 0;
    margin-right: 1.5rem;
  }
  #about {
    display: none;
  }
  #about-li:hover #about {
    opacity: 1;
    display: block;
  }
  #bottom-links {
    padding-bottom: 2rem;
  }

  .small-lang-dot {
    position: absolute;
    top: 15;
    left: calc(-50%-0.5rem);
  }

  #small-languages-wrap {
    display: block;
  }

  #small-languages-wrap li.active:not(.lang-disabled)  {
    color: $accent-color;
  }

  #small-languages-wrap li.lang-disabled {
    color: $disabled-text-dark;
  }

  .language-popup {
    top: 0rem;
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
    box-sizing: border-box;
    right: 2.5rem;
    opacity: 0;
    white-space: nowrap;
    transition: opacity 400ms;
    display: none;
  }
  
  .language-popup:not(.top-language) {
    top: -0.5rem;
  }
  
  #small-languages-wrap li:hover .language-popup {
    opacity: 1;
    display: block;
  }

  #small-languages-wrap li:hover {
    color: $accent-color;
  }
}

@media (max-width: 52em) {
  #i-study {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  #social {
    margin-top: 2rem;
  }
  #study-abroad {
    padding-left: 0;
  }
  .story-img {
    width: 100%;
    height: 180px;
  }
  .story-img amp-img {
    border-radius: 3px 3px 0 0;
  }
  #i-write .pl3 {
    padding-left: 1rem;
  }
  #i-write .h3,
  #i-write .h2 {
    font-size: 1.25rem;
  }
  #i-write .button.ml4 {
    margin-left: 0;
    margin-top: 0;
  }
  .sm-mt2 {
    margin-top: 2rem;
  }
  #i-race-cards {
    margin: auto;
    left: 0;
  }
  #i-race-cards>div {
    margin-left: auto;
    margin-right: auto;
  }
  #i-m-only-starting {
    margin-top: 2rem;
  }
}