*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a
{   
    text-decoration: none;
}

body
{
    background: #f9f9f9;   
    font-family: Roboto, sans-serif;
}

#side_menu
{
    background: white;
    width: 250;
    height: 100vh;
    z-index: 10;
    position: fixed;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: transform 0.5s;
}


#article
{
    position: relative;
    padding-left: 250;
    height: 150vh;
}

#article_header
{
    background: #e91e63;
    height: 150px;
    color: white;
    position: relative;
}

#article_header_title
{
    position: absolute;
    padding-bottom: 15;
    bottom: 0;
    padding-left: 40;
    font-size: 45px;
    padding-top: 15;
    width: 100%;
    background: #e91e63;
    transition: font-size 0.3s, box-shadow 0.3s,;
}

#article_content
{
    padding: 40;
}



#article h1
{
    font-weight: 400;
    padding: 40 0 20 0;
}

#article h2
{
    font-weight: 400;
    padding: 0 0 10 0;
    color: #646264;
}

#me_icon
{
    width: 120;
    left: 50%;
    position: relative;
    margin-left: -60;
}

#menu
{
    list-style-type: none;
}

#menu  li
{
    padding: 15 40;
    font-weight: 500;
    cursor: pointer;
    font-size: 21;
    color: rgb(60,60,60);
    transition: 0.2s;
}

#menu li:hover
{
    background: rgba(0,0,0,0.05);   
}

#sub_projects
{
    list-style-type: none;
}

#sub_projects li
{
    font-size: 19;
    color: rgb(70,70,70);
    font-weight: 400;
}


#me_credits
{
    position: absolute;
    bottom: 5;
    text-align: center;
    width: 100%;
    color: lightslategrey;
}

.button
{
    color: white;
    border-radius: 3px;
    margin-left: 20;
    padding: 8 16;
        background: #444345;  
     box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.button:first-child
{
    margin-left: 0;   
}

.button_pink
{
    background: #e91e63;
}

.button_gray
{
    background: #444345;      
}

#changes
{
    margin-left: 30;
    margin-bottom: 10;
}

#screen
{
    width: 500;
}

#article p
{
    font-size: 21;   
}

#menu_tiny
{
    position: fixed;
    top: 16;
    left: 16;
    width: 34;
    z-index: 6;
}

#youtube
{
    width: 500;
    margin-top: 10;
}

.selected_p
{
    color: #e91e63;
}

@media screen and (max-width:900px)
{
      #side_menu
    {
        left: -260;   
    }
    
    #youtube
    {
        width: 100%;   
        height: 150;
    }
    
    #article
    {
        padding-left: 0;   
    }
    
    #article_header_title
    {
        padding-left: 70; 
        font-size: 32;
    }
    #screen
    {
        width: 100%;   
    }
}